.list {
    width: 500px;
    max-width: 90%;
}

.item {
    display: block;
    font-size: 1.1rem;
    line-height: 1.375;
}

.contents h1{
    margin: 1rem 0 1rem 0;
    font-size: 40px;
    font-weight: 500;
}

.contents p {
    font-size: 20px;
    padding: 2rem;
    text-decoration: underline;
}

.item:after {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 60px;
    left: 30px;
    content: "";
    background: var(--highlight1);
    z-index: 0;
    border-top-left-radius: 3px;
}

.item p {
    font: bold 1.95rem/1 var(--font-number);
    width: 3rem;
    height: 3rem;
    float: left;
    margin: 0 1.5rem 0.75rem 0;
    color: var(--bg);
    background: var(--highlight1) linear-gradient(to bottom right, var(--highlight1) 25%, var(--highlight2));
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    shape-outside: ellipse();
    z-index: 1;
    position: relative;
}

.item h2 {
    margin: 0 1rem 1rem 0;
    font: normal 21px var(--font-head);
}

.item h4 {
    padding-left: 3rem;
}

a {
    text-decoration: none;
    font: normal 2rem var(--font-head);
    color: black;
}

.neumorphism {
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  }
  
  .card-w .card {
    align-items: center;
    padding: 60px 30px;
    position: relative;
    background: transparent;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 1rem;
    background-color: white;
  }
  .card-w .card .card__text {
    text-align: center;
  }

.post-list button {
    width: 27rem;
    border-radius: 12px;
    border: none;
    padding: 1rem;
    margin: 1rem 3rem 5rem 0px;
    background-color: #3E9E9E;
    color: #FFF;
    font: normal 1rem var(--font-head);
    cursor: pointer;
}

.post-list button:hover{
    background-color: #12B5B5;
}